@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $dark-color;
  background: $light-color;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;

  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

a {
  color: $dark-color;
  text-decoration: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

p {
  line-height: 1.7;
}
