@media screen and (max-width: 1024px) {
  .dropdown-menu {
    width: 25rem;
  }

  .google-map {
    flex: 8;
  }

  .user-actions {
    flex: 5;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    &-brand svg,
    &-brand span {
      font-size: 1.2rem;
    }
  }
  .navbar .main-menu li,
  .navbar .main-menu .user-info {
    display: none;
  }

  .dropdown-menu {
    width: 20rem;

    svg {
      margin-right: 0.2rem;
    }
  }

  .plan-card {
    &-image-wrapper {
      flex: 1 1 40%;
    }

    &-body {
      flex: 1 1 60%;
    }
  }

  .sort-results {
    .pipe {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .dropdown-menu {
    width: 13.5rem;
  }

  .plan-card {
    &-image-wrapper {
      flex: auto;
      margin-bottom: 1rem;
    }

    &-body {
      flex: auto;
    }
  }

  .font-size {
    &-md {
      font-size: 1.7rem;
    }
  }

  .discover-container {
    flex-direction: column;
    // height: 62.5rem;
  }

  .user-actions {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 300px) {
  .btn {
    line-height: 1.4;
  }

  .dropdown-menu {
    width: 10rem;
  }
}
