@media screen and (max-width: 768px) {
  .navbar {
    &-brand svg,
    &-brand span {
      font-size: 1.2rem;
    }
  }
  .navbar .main-menu li,
  .navbar .main-menu .user-info {
    display: none;
  }

  .menu-icon {
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }
  .dropdown-menu {
    width: 20rem;
  }
}

@media screen and (max-width: 500px) {
  .dropdown-menu {
    width: 13.5rem;
  }
}
