@import "variables";

// container
.container {
  max-width: $website-width;
  margin: auto;
  padding: 0 2.4rem;
  overflow: hidden;
}

// Buttons

%btn-shared {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  transition: all 0.1s ease-in-out;
  font-size: 1rem;
}

.btn {
  @extend %btn-shared;

  &-dark {
    background: $dark-color;
    color: #fff;
  }

  &-light {
    background: $light-color;
    color: #000;
  }

  &-secondary {
    background: $secondary-color;
    color: #fff;

    &:hover {
      color: darken(#fff, 5%);
      background: darken($secondary-color, 5%);
    }
  }

  &-primary {
    background: $primary-color;
    color: #fff;

    &:hover {
      color: darken(#fff, 5%);
      background: darken($primary-color, 5%);
    }
  }

  &-block {
    width: 100%;
  }

  &-shadow {
    // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
}

button.btn {
  padding: 1.2rem 1.5rem;
}

// Padding & Margin
.py {
  &-1 {
    padding: 1rem 0;
  }

  &-2 {
    padding: 2rem 0;
  }

  &-3 {
    padding: 3rem 0;
  }

  &-4 {
    padding: 4rem 0;
  }
}

.my {
  &-1 {
    margin: 1rem 0;
  }

  &-2 {
    margin: 2rem 0;
  }
}

.mb {
  &-1 {
    margin-bottom: 1rem;
  }

  &-2 {
    margin-bottom: 2rem;
  }

  &-3 {
    margin-bottom: 3rem;
  }
}

// Text
.lead {
  font-size: 1rem;
  margin-top: 0.4rem;
  margin-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $primary-color;
}

// Backgrounds
.bg {
  &-light {
    background: $light-color;
    color: $dark-color;
  }
}

// UserInfo
.user-info {
  display: flex;
  align-items: center;
  margin-left: 1.2rem;

  &-name {
    margin-left: 0.5rem;
    font-size: 1rem;
  }

  img {
    border: 2px solid #ddd;
  }
}

// Images
.img-rounded {
  border-radius: 50%;
}

.avatar-small {
  width: 45px;
  height: 45px;
}

// Flexbox
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  &-centered {
    justify-content: center;
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  flex: 1;

  &-centered {
    justify-content: center;
  }
}
