@import "variables";
@import "functions";

// containers
.container {
  max-width: $website-width;
  margin: auto;
  padding: 0 2.4rem;
  overflow: hidden;
}

.centered-page-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

// Sizes
.h {
  &-100vh {
    height: 100vh;
  }

  &-100 {
    height: 100%;
  }
}

.w {
  &-100vw {
    width: 100vw;
  }

  &-100 {
    width: 100%;
  }
}

// Buttons
%btn-shared {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  padding: 1rem 1.5rem;
  transition: all 0.1s ease-in-out;
  font-size: 1rem;
  text-align: center;
}

.btn {
  @extend %btn-shared;

  &-dark {
    background: $dark-color;
    color: #fff;
  }

  &-light {
    background: $light-color;
    color: #000;
  }

  &-secondary {
    background: $secondary-color;
    color: #fff;

    &:hover {
      background: darken($secondary-color, 5%);
    }
  }

  &-primary {
    background: $primary-color;
    color: #fff;

    &:hover {
      background: darken($primary-color, 5%);
    }
  }

  &-block {
    width: 100%;
  }

  &-shadow {
    // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
}

button.btn {
  padding: 1.2rem 1.5rem;
}

// Padding & Margin
.p-all {
  &-1 {
    padding: 0.5rem;
  }

  &-2 {
    padding: 1rem;
  }

  &-3 {
    padding: 1.5rem;
  }

  &-4 {
    padding: 2rem;
  }
}

.py {
  &-1 {
    padding: 0.5rem 0;
  }

  &-2 {
    padding: 1rem 0;
  }

  &-3 {
    padding: 1.5rem 0;
  }

  &-4 {
    padding: 2rem 0;
  }
}

.my {
  &-1 {
    margin: 0.5rem 0;
  }

  &-2 {
    margin: 1rem 0;
  }
}

.mb {
  &-1 {
    margin-bottom: 0.5rem;
  }

  &-2 {
    margin-bottom: 1rem;
  }

  &-3 {
    margin-bottom: 1.5rem;
  }
}

.ml {
  &-1 {
    margin-left: 0.5rem;
  }

  &-2 {
    margin-left: 1rem;
  }

  &-3 {
    margin-left: 1.5rem;
  }
}

.m-auto {
  margin: auto;
}

// Text
.lead {
  margin-top: 0.4rem;
  margin-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $primary-color;
}

// Backgrounds
.bg {
  &-light {
    background: $light-color;
    color: $dark-color;

    a {
      color: $dark-color;
    }
  }

  &-dark {
    background: $dark-color;
    color: #fff;

    a {
      color: #fff;
    }
  }
}

// UserInfo
.user-info {
  display: flex;
  align-items: center;

  &-name {
    margin-left: 0.5rem;
  }

  img {
    border: 2px solid #ddd;
  }
}

// Images
.img-rounded {
  border-radius: 50%;
}

.avatar-small {
  width: 45px;
  height: 45px;
}

.logo {
  &-primary {
    color: $primary-color;
  }
}

// Flexbox
.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

// Forms

.input-group {
  position: relative;
  margin-bottom: 0.625rem;

  input[type="text"].input-without-error,
  input[type="password"].input-without-error {
    outline: none;
    border: 2px solid $secondary-color;
  }

  input[type="text"].input-with-error,
  input[type="password"].input-with-error {
    border: 2px solid darken($primary-color, 5%);
  }

  .label-with-error {
    color: darken($primary-color, 5%);
  }

  .label-without-error {
    color: darken($secondary-color, 5%);
  }

  .label-selected {
    font-size: 0.7rem;
    transform: translateY(-23px);
  }

  label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #898989;
    padding: 0 3px;
    background: #fff;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
  }

  input[type="text"],
  input[type="password"] {
    border-radius: 0.4rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 1rem;
  }

  .error-message {
    display: block;
    text-align: left;
    margin-top: 0.3rem;
    color: darken($primary-color, 5%);
  }

  &:last-of-type {
    margin-bottom: 3rem;
  }
}

// Animations
.animation-shake {
  animation: shake 0.3s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(0.25rem);
  }

  50% {
    transform: translateX(-0.25rem);
  }

  75% {
    transform: translateX(0.25rem);
  }

  100% {
    transform: translateX(0);
  }
}

// Cards

.card {
  padding: 2rem;
  background: #fff;
  border-radius: 5px;
  border: 1px solid (160, 160, 160, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

  &-title {
    font-size: 1.4rem;
  }

  &-header {
    margin: 0.8rem 0 2rem 0;
  }

  &-body {
    display: flex;
    flex-direction: column;
  }

  &.card-medium {
    width: 25rem;
  }

  &-footer {
    font-size: 0.9rem;
    margin-top: 1rem;

    a {
      color: darken($secondary-color, 10%);
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  form {
    width: 100%;
  }
}

// Menus

.dropdown {
  &-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $dark-color;
      opacity: 0.5;
      z-index: 9998;
    }
  }

  &-menu {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1.5rem;
    transform: translateX(100%);
    transition: transform, opacity 4s ease 3s;
    opacity: 0;
    z-index: 9999;

    li {
      border-bottom: 1px solid #898989;
    }

    li:last-child {
      border-bottom: none;
    }

    a {
      display: inline-block;
      padding: 1rem 0;
    }

    &.slide-in {
      animation: 0.4s ease 0.3s 1 forwards menu-slide-in;
    }

    &.slide-out {
      animation: 0.4s ease 0.3s 1 forwards menu-slide-out;
    }

    .close {
      position: absolute;
      cursor: pointer;
      top: 0;
      right: 1rem;
      color: #fff;
      font-size: 2rem;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

// .slide {
//   &-in {
//     animation: 0.4s ease 0.3s 1 forwards menu-slide-in;
//   }

//   &-out {
//     animation: 0.4s ease 0.3s 1 forwards menu-slide-out;
//   }
// }

@keyframes menu-slide-in {
  to {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes menu-slide-out {
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

// Visibilitity
.show {
  display: block;
}
