@import "variables";
@import "base";
@import "App";
@import "functions";
@import "mixins";
@import "functions";

.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  left: 0;
  right: 0;
  color: #fff;
  background: $dark-color;
  z-index: 9996;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $website-width;
    margin: auto;
    padding: 0 2.5rem;
    height: 100%;
  }

  &-brand svg,
  &-brand span {
    font-size: 1.5rem;
  }

  .main-menu {
    display: flex;
    align-items: center;

    li {
      margin-left: 1.5rem;
    }
  }

  a {
    color: #fff;
    font-size: 1rem;

    &:hover {
      opacity: 0.9;
    }
  }

  svg {
    margin-right: 0.2rem;
  }
}

// containers
.container {
  max-width: $website-width;
  margin: auto;
  padding: 0 2.4rem;
  overflow: hidden;
}

.centered-page-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

// Sizes
.h {
  &-100vh {
    height: 100vh;
  }

  &-100 {
    height: 100%;
  }
}

.w {
  &-100vw {
    width: 100vw;
  }

  &-100 {
    width: 100%;
  }
}

// floats
.float {
  &-left {
    float: left;
  }

  &-right {
    float: right;
  }
}

.clearfix {
  clear: both;
}

// Buttons
%btn-shared {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  padding: 0.75rem 1.5rem !important;
  transition: all 0.1s ease-in-out;
  font-size: 1rem;
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif !important;
  text-align: center;
  outline: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn {
  @extend %btn-shared;

  &-dark {
    background: $dark-color;
    color: #fff;
  }

  &-light {
    background: $light-color;
    color: #000;

    &:hover {
      background: darken($light-color, 5%);
    }
  }

  &-secondary {
    background: $secondary-color;
    color: #fff;

    &:hover {
      background: darken($secondary-color, 5%);
    }
  }

  &-primary {
    background: $primary-color;
    color: #fff;

    &:hover {
      background: darken($primary-color, 5%);
    }
  }

  &-block {
    width: 100%;
  }
}

.back-btn {
  svg {
    margin-right: 0.3rem;
    transition: transform 0.1s ease-in-out;
  }

  &:hover svg {
    transform: translateX(-0.15rem);
  }
}

.forward-btn {
  svg {
    margin-left: 0.3rem;
    transition: transform 0.1s ease-in-out;
  }
  &:hover svg {
    transform: translateX(0.15rem);
  }
}

// borders
.border-bottom {
  border-bottom: 1px solid#bbb8b8 !important;
}

// Padding & Margin
.p-all {
  &-1 {
    padding: 0.5rem !important;
  }

  &-2 {
    padding: 1rem !important;
  }

  &-3 {
    padding: 1.5rem !important;
  }

  &-4 {
    padding: 2rem !important;
  }
}

.pb {
  &-1 {
    padding-bottom: 0.5rem !important;
  }

  &-2 {
    padding-bottom: 1rem !important;
  }

  &-3 {
    padding-bottom: 1.5rem !important;
  }

  &-4 {
    padding-bottom: 2rem !important;
  }
}

.px {
  &-1 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  &-2 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  &-3 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

  &-4 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}
.py {
  &-1 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  &-2 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  &-3 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  &-4 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
}

.my {
  &-1 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  &-2 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
}

.mt {
  &-1 {
    margin-top: 0.5rem !important;
  }

  &-2 {
    margin-top: 1rem !important;
  }

  &-3 {
    margin-top: 1.5rem !important;
  }

  &-4 {
    margin-top: 2rem !important;
  }
}

.mb {
  &-1 {
    margin-bottom: 0.5rem !important;
  }

  &-2 {
    margin-bottom: 1rem !important;
  }

  &-3 {
    margin-bottom: 1.5rem !important;
  }
}

.ml {
  &-1 {
    margin-left: 0.5rem !important;
  }

  &-2 {
    margin-left: 1rem !important;
  }

  &-3 {
    margin-left: 1.5rem !important;
  }
}

.m-auto {
  margin: auto !important;
}

// Text
.lead {
  margin-top: 0.4rem;
  margin-bottom: 1.5rem;
}

.link {
  font-size: 0.9rem;
  color: darken($secondary-color, 5%);

  &:hover {
    text-decoration: underline;
  }
}

.text {
  &-center {
    text-align: center;
  }

  &-primary {
    color: $primary-color;
  }

  &-secondary {
    color: $secondary-color;
  }

  &-medium {
    color: $medium-color;
  }
}

.font-size {
  &-sm {
    font-size: 0.8rem;
  }

  &-md {
    font-size: 2rem;
  }
}

.section-header {
  font-size: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

// Backgrounds
.bg {
  &-light {
    background: $light-color;
    color: $dark-color;

    a {
      color: $dark-color;
    }
  }

  &-dark {
    background: $dark-color;
    color: #fff;

    a {
      color: #fff;
    }
  }
}

// UserInfo
.user-info {
  display: flex;
  align-items: center;

  &-name {
    margin-left: 0.5rem;
  }

  // img {
  //   border: 2px solid #ddd;
  // }
}

// Images
.img-rounded {
  border-radius: 50%;
}

.avatar {
  &-sm {
    width: 45px;
    height: 45px;
  }

  &-md {
    width: 90px;
    height: 90px;
  }

  &-lg {
    width: 140px;
    height: 140px;
  }
}

.logo {
  &-primary {
    color: $primary-color;
  }
}

// Flexbox
.flex {
  &-1 {
    flex: 1;
  }

  &-2 {
    flex: 2;
  }

  &-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &-col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }
}

.justify {
  &-center {
    justify-content: center !important;
  }

  &-end {
    justify-content: end !important;
  }
}

.align-center {
  align-items: center !important;
}

// Forms

.input-group {
  position: relative;
  margin-bottom: 0.625rem;

  input[type="text"].input-without-error,
  input[type="password"].input-without-error,
  input[type="date"].input-without-error,
  input[type="time"].input-without-error,
  input.autocomplete.input-without-error,
  textarea.input-without-error {
    outline: none;
    border: 2px solid $secondary-color;
  }

  input[type="text"].input-with-error,
  input[type="password"].input-with-error,
  input[type="time"].input-with-error,
  input[type="date"].input-with-error,
  textarea.input-with-error {
    outline: none;
    border: 2px solid darken($primary-color, 5%);
  }

  input[type="time"].input-with-error,
  input[type="date"].input-with-error,
  input[type="time"].input-with-error::placeholder,
  input[type="date"].input-with-error::placeholder {
    color: darken($primary-color, 5%);
  }

  input[type="time"].input-without-error,
  input[type="date"].input-without-error,
  input[type="time"].input-without-error::placeholder,
  input[type="date"].input-without-error::placeholder {
    color: darken($secondary-color, 5%);
  }

  .label-with-error {
    color: darken($primary-color, 5%);
  }

  .label-without-error {
    color: darken($secondary-color, 5%);
  }

  .label-selected {
    font-size: 0.7rem;
    transform: translateY(-21px);
  }

  label {
    position: absolute;
    top: 0.8rem;
    left: 1rem;
    color: #898989;
    padding: 0 3px;
    background: #fff;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
  }

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="time"],
  input.autocomplete,
  textarea {
    border-radius: 0.4rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 1rem;
  }

  .error-message {
    display: block;
    text-align: left;
    margin-top: 0.3rem;
    color: darken($primary-color, 5%);
  }

  &:last-of-type {
    margin-bottom: 3rem;
  }
}

// Cards

.card {
  position: relative;
  padding: 2rem;
  background: #fff;
  border-radius: 5px;
  border: 1px solid (160, 160, 160, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

  &-title {
    font-size: 1.4rem;
  }

  &-header {
    position: relative;
    margin: 0.8rem 0 2rem 0;
  }

  &-body {
    display: flex;
    flex-direction: column;
  }

  &.card-medium {
    width: 25rem;
  }

  &-footer {
    font-size: 0.9rem;
    margin-top: 1rem;

    a {
      color: darken($secondary-color, 10%);
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  form {
    width: 100%;
  }
}

// Places
.place-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  background: #fff;
  border: 1px solid #dadada;
  // border: 1px solid #bbb8b8;
  border-radius: 0.4rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 3px 5px 4px rgba(0, 0, 0, 0.1);
  }

  &-title {
    font-size: 1.1rem;
  }

  &-body {
    margin-bottom: 0.5rem;

    p {
      font-size: 0.95rem;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p:first-child {
      font-size: 0.9rem;
      color: darken($secondary-color, 5%);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  svg {
    cursor: pointer;
    margin-left: auto;
    color: darken($primary-color, 5%);

    &:hover {
      opacity: 0.8;
    }
  }
}

.rating {
  margin: 0.3rem 0;
  svg {
    color: #ffb400;
  }
}

// Plans

.plan-cards-container {
  display: flex;
  flex-direction: column;
}

.plan-card {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  cursor: pointer;
  background: #fff;
  margin: 1.7rem 0;
  padding: 0.5rem;
  border: 1px solid (160, 160, 160, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 4px 7px 5px rgba(0, 0, 0, 0.1);
  }

  // &:hover .plan-title {
  //   text-decoration: underline;
  // }

  &-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-overflow: ellipsis;
  }

  &-body {
    display: flex;
    flex-direction: column;
    flex: 1 1 70%;
    padding: 0 1rem;
  }

  &-image-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1 1 30%;
  }

  img {
    object-fit: cover;
    height: 100%;
  }

  .icons {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 0.5rem;
    height: 100%;

    svg {
      cursor: pointer;
      margin-right: 0.5rem;

      &:first-child {
        color: $secondary-color;
      }

      &:nth-child(2) {
        color: $primary-color;
      }

      &:last-child {
        color: darken($secondary-color, 50%);
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

// Menus & modals

.dropdown {
  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: visibility 0.2s ease;
    z-index: 9998;

    &.show {
      visibility: visible;
    }

    &.hide {
      visibility: hidden;
    }

    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $dark-color;
      opacity: 0.5;
    }
  }

  &-menu {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1.5rem;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 9999;

    li {
      border-bottom: 1px solid #898989;
    }

    li:last-child {
      border-bottom: none;
    }

    a {
      display: inline-block;
      padding: 1rem 0;
    }

    &.slide-in {
      transform: translateX(0);
    }

    .close {
      position: absolute;
      cursor: pointer;
      top: 0;
      right: 1rem;
      color: #fff;
      font-size: 2rem;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.menu-btn {
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

// Profile page
.profile-header {
  position: relative;
  background: $dark-color;
  height: 400px;
  text-align: center;
  color: #fff;
  padding: 2rem;
  margin-bottom: 2rem;
  z-index: 2;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    background: url("../assets/city_life.jpg") no-repeat center center/cover;
    z-index: -1;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-top: 2rem;
    font-size: 1.6rem;
  }

  img {
    display: block;
    margin-bottom: 1rem;
    border: 3px solid rgba(255, 255, 255, 0.7);
  }
}

// Modals
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  outline: 0;
  z-index: 9997;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $dark-color;
    opacity: 0.1;
    z-index: -1;
  }

  &.closed {
    display: none;
  }

  &-container-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 2rem 1rem;
  }

  &-content {
    display: flex;
    flex-direction: column;
    background: #fff;
    margin-top: 1.7rem;
    border-radius: 0.7rem;
    padding: 1rem;
    box-shadow: 0 16px 64px -16px rgba(46, 55, 77, 0.24);

    &-sm {
      max-width: 325px;
      padding: 1.3rem;
    }

    &-md {
      max-width: 500px;
      padding: 1rem;
    }
  }

  &-header {
    display: flex;
    flex-direction: column;
  }

  &-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-overflow: ellipsis;
  }

  &-body {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }

  &-image {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0.4rem;
    margin-bottom: 0.5rem;
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .btn {
      padding: 0.8rem 1.5rem;
      margin-left: 0.7rem;
    }
  }
}

// Animations
.animation {
  &-slide-down {
    animation: slide-down 0.4s ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  &-slide-up {
    animation: slide-up 0.4s ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  &-shake {
    animation: shake 0.3s;
    animation-iteration-count: 1;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-20%);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(0.25rem);
  }

  50% {
    transform: translateX(-0.25rem);
  }

  75% {
    transform: translateX(0.25rem);
  }

  100% {
    transform: translateX(0);
  }
}

// Other
.no-scroll-y {
  overflow-y: hidden;
}

.no-shadow {
  box-shadow: none;
}

.no-transition {
  transition: none !important;
}

.discover-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.google-map {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.user-actions {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

  .card {
    height: 100%;
    border-radius: 0;
  }

  textarea {
    height: 20vh;
  }

  .input-group {
    margin-bottom: 1rem;
  }
}

.sort-results {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;

  .pipe {
    display: inline-block;
    margin-left: 0.3rem;
  }

  label {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 0.95rem;
    line-height: 1.7;
  }

  .select-list {
    font-size: 0.9rem;
  }
}

.select-list {
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline-color: $secondary-color;
  }
}

@import "media_queries";
